@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

html {
  @apply text-[#111827];
  font-family: "Noto Sans JP", sans-serif;
}

* {
  border-color: inherit;
}

table {
  table-layout: fixed;
}

/* サイドバー */
* {
  scrollbar-color: #1b506a #0000;
}

::-webkit-scrollbar {
  width: 0.9rem;
  height: 0.9rem;
}

::-webkit-scrollbar-track {
  @apply bg-action-secondary;
  @apply bg-opacity-0;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
  @apply rounded-full;
  @apply bg-clip-padding;
  border: 0.2rem solid #0000;
}
